{% extends "layouts/base.html" %}

{% block title %} View Treasury Report {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <!-- DataTables -->
  <link rel="stylesheet" type="text/css" href="/static/assets/js/plugin/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/js/plugin/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" type="text/css" href="/static/assets/js/plugin/datatables-buttons/css/buttons.bootstrap4.min.css">
  
{% endblock stylesheets %}

{% block content %}

<div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">3</div>
    <div class="msg">You Dont Have Access To This Page<p>Click to go to the 
    <a href="/index.html">Dashboard</a></p></div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugin/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
<!-- Bootstrap 4 -->
<script src="/static/assets/js/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>



{% endblock javascripts %}
