{% extends "layouts/base.html" %}

{% block title %} CREATE RM DAILY ACTIVITY {% endblock %} 

<!-- Spe cific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
{{ form }}
{% comment %} {% if 'Branch-Managers' or 'RM' in currentGroup %}
		<div class="content">
		<div class="page-inner">
			<div class="page-header" >
				<h4 class="page-title">RM DAILY ACTIVITY</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/rm/create_daily_activity.html">Create RM daily activity</a>
					</li>											
				
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">							
						<div class="card-title">	 
						    {% if msg %}
                               <div class="card-title">RM Daily Activity Form </div> </br> 
							   <span class="{% if success %}{{ "text-success" }}{% else %}{{"text-danger"}}{%endif%}">{{ msg | safe }}</span>
                            {% else %}
                            <span>
                               <div class="card-title">RM Daily Activity Form </div>
                            </span>
                            {% endif %} </div>
						</div>
						<form id="frmRMDaily" method="post"   >

						{% csrf_token %}  
				
						<div class="card-body">
							<div class="row">								
									<div class="col-md-6 col-lg-4">
									<div class="form-group">
											<label>{{form.activitydate.label}}</label>
											<div class="input-group">
                                            	{{ form.activitydate }}
											</div>
										</div>
										<span class="text-danger">{{ form.activitydate.errors }}</span>	
										 <div class="form-group">
											<label>{{form.amount_disbursed.label }}</label>
											{{ form.amount_disbursed }}  
										</div><span class="text-danger">{{ form.amount_disbursed.errors }}</span> 
																			
									</div>
									<!-- column 2 -->
									<div class="col-md-6 col-lg-4">	
									<div class="form-group">
											<label>{{form.amount_collected.label}}   </label>  
											{{form.amount_collected}}                                   
										</div><span class="text-danger">{{ form.amount_collected.errors }}</span> 			
										<div class="form-group">
											<label>{{form.new_cilents.label }}</label>
											{{ form.new_cilents}}                                     
										</div><span class="text-danger">{{ form.new_cilents.errors }}</span> 							
										                               									
										
									</div>
									<!-- End of Column 2 -->
									<!-- Column 3 -->
									<div class="col-md-6 col-lg-4">
                                        
										<div class="form-group">
											<label for="repeat_customer_numbers">{{form.cilents_collected.label }}</label>											
											{{ form.cilents_collected}}
										</div><span class="text-danger">{{ form.cilents_collected.errors }}</span>                                 									
										
									</div>
									<!-- End of Column 3 -->
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success" type="submit">Submit</button>
							<button class="btn btn-danger" >Cancel</button>
						</div>
						</form>
						<div class="card-action">

						  <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                              <th>Activity Date</th>
                              <th>Total Collections</th>
                              <th>Total Customers Collected From</th>                            
                              <th>Total Disbursed Amount</th>
                              <th>Total New Customers</th>
                              <th>Authorization Status</th>
                              <th>Authorization Note</th>              
                            </tr>
                            </thead>
                            <tbody>
                            
                            {% for T in activity_data %}
                                <tr>
                                  <td>{{ T.activitydate }}</td>
                                  <td>{{ T.amount_collected}} </td>
                                  <td>{{ T.cilents_collected}}</td>								                        
                                  <td>{{  T.amount_disbursed  }}</td>
                                  <td>{{ T.new_cilents }}</td>
								  <td>{{ T.before_authorization }}</td> 
                                  <td><strong>{{ T.authorization_note }}</strong></td>
                                </tr>
                            {% endfor %} 
                          
                            </tbody>
                            
                          </table>
						</div>
				

					</div>
				</div>
				<div class="col-md-12">
				</div>
			</div>
		</div>
	</div>

	{% else %}
			{% include 'includes/noauthorization.html' %}
	{% endif %}  {% endcomment %}

{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		
		$('#frmRMDaily').on('submit', function() {
		var amount_disbursed = $('#amount_disbursed');
		var amount_collected = $('#amount_collected');
		amount_disbursed.val(amount_disbursed.val().replace(/,/g, ''));
		amount_collected.val(amount_collected.val().replace(/,/g, ''));
			
		}); 

	</script>
{% endblock javascripts %}	
