{% extends "layouts/base.html" %}

{% block title %} Create Treasury {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/atlantis2.css">

{% endblock stylesheets %}

{% block content %}
	{% if 'Branch-Managers' or 'Supervisor' in currentGroup %}
		<div class="content">
		<div class="page-inner">
			<div class="page-header" >
				<h4 class="page-title">Treasury</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/treasury/create.html">Create Treasury Report</a>
					</li>											
				
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">							
						<div class="card-title">	 
						    {% if msg %}
                               <div class="card-title">Treasury Form </div> </br> 
							   <span class="{% if success %}{{ "text-success" }}{% else %}{{"text-danger"}}{%endif%}">{{ msg | safe }}</span>
                            {% else %}
                            <span>
                               <div class="card-title">Treasury Form </div>
                            </span>
                            {% endif %} </div>
						</div>
						<form id="frmTreasury" method="post" action="/treasury/create.html"  >

						{% csrf_token %}  
				
						<div class="card-body">
							<div class="row">								
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label>{{form.branch_name.label}}   </label>  
											{{form.branch_name}}                                   
										</div><span class="text-danger">{{ form.branch_name.errors }}</span>     
										<div class="form-group">
											<label for="repeat_customer_numbers">{{form.repeat_customer_numbers.label }}</label>											
											{{ form.repeat_customer_numbers}}
										</div><span class="text-danger">{{ form.repeat_customer_numbers.errors }}</span>                                 									
										<div class="form-group">
											<label>{{form.new_customer_numbers.label }}</label>
											{{ form.new_customer_numbers }}                                     
										</div><span class="text-danger">{{ form.new_customer_numbers.errors }}</span> 									
										<div class="form-check">
											<label class="form-check-label">
												{{form.injection_status}}
												<span class="form-check-sign">Tick If ONLY You Need An Injection</span>
											</label>
										</div><span class="text-danger">{{ form.injection_status.errors }}</span>					
										
									</div>
									<!-- column 2 -->
									<div class="col-md-6 col-lg-4">				
										<div class="form-group">
											<label>{{form.date.label}}</label>
											<div class="input-group">
											{{ form.date }}												
												<div class="input-group-append">
													<span class="input-group-text">
														<i class="fa fa-calendar-check"></i>
													</span>
												</div>
											</div>
										</div>
										<span class="text-danger">{{ form.date.errors }}</span>									
										<div class="form-group">
											<label>{{form.repeat_customer_amount.label }}</label>
											{{ form.repeat_customer_amount }}  
										</div><span class="text-danger">{{ form.repeat_customer_amount.errors }}</span>                                 									
										<div class="form-group">
											<label>{{form.new_customer_amount.label }}</label>
											{{ form.new_customer_amount }}  
											</div><span class="text-danger">{{ form.new_customer_amount.errors }}</span> 
										<div class="form-group">
											<label>{{ form.injection_amount.label }}</label> 
											{{ form.injection_amount }} 
										</div><span class="text-danger">{{ form.injection_amount.errors }}</span>
									</div>
									<!-- End of Column 2 -->
									<!-- Column 3 -->
									<div class="col-md-6 col-lg-4">
										<div class="form-group">
											<label>{{form.cash_forward.label }}</label>
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text">UGX</span>
												</div>
												{{form.cash_forward }}
												<div class="input-group-append">
													<span class="input-group-text">.00</span>
												</div>
											</div>
										</div><span class="text-danger">{{ form.cash_forward.errors }}</span>
										<div class="form-group">
											<label class="control-label">
												sub-total Customer
											</label> 
											<p class="form-control-static font-weight-bold text-primary" id="subTotal" ></p> 
										</div>
										<div class="form-group">
											<label class="control-label">
												sub-total Disbursed Amount Customer
											</label> 
											<p class="form-control-static font-weight-bold text-success" id="subTotalDisbursed" ></p> 
										</div>									
										
									</div>
									<!-- End of Column 3 -->
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success" type="submit">Submit</button>
							<button class="btn btn-danger" >Cancel</button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% else %}
			{% include 'includes/noauthorization.html' %}
	{% endif %} 


	
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}	
